// --------------------
// Global Variables
// --------------------
$global-font-size: 14px;
$global-font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
$font-family-mincho: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
$font-roboto: 'Roboto', sans-serif;
$font-notosan: 'Noto Sans', sans-serif;

// --------------------
// Global Colors
// --------------------
$color-font-base: #000000;
$color-font-black: #111111;
$color-footer: #282C2B;
$color-white: #FFFFFF;
$color-gray: #F9F9F9;
$color-btn-document: #13BAEE;
$color-header: #191a1bed;
$bg-section-detail-homepage: #0ebfab;
